* {
  box-sizing: border-box;
}
:root {
  /* Основные шрифты */
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  /* Цвет заголовков текста светлой темы */
  --white-title-color: #212121;
  /* Вторичный цвет текста светлой темы */
  --secondary-font-color: #757575;
  /* Цвет текста темной темы */
  --black-title-font-color: #ffffff;
  /* Вторичный цвет текста темной темы */
  --black-secondary-font-color: rgba(255, 255, 255, 0.6);

  /* Цвет акцента */
  --accent-color: #2196f3;
  /* Вторичный цвет акцента */
  --secondary-accent-color: #188ce8;
  /* Вторичный цвет логотипа */
  --secondary-logo-color: #000000;

  /* Цвет фона основной */
  --background-color: #ffffff;
  /* Цвет фона темной темы */
  --dark-background-color: #2f303a;
  /* Вторичный цвет фона темной темы */
  --dark-secondary-background-color: #f5f4fa;
  /* Цвет фона карточек */
  --card-background-color: #ffffff;
  /* Основной цвет иконок соц.сетей */
  --icon-color: #afb1b8;
  /* Вторичный цвет иконок соц.сетей */
  --secondary-icon-color: #ffffff;
  /* PORTFOLIO */

  /* Зазор между карточками */
  --portfolio-item-gap: 30px;
  /* Cubic */
  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* Модальное Окно */
  /* Цвет рамки modal-input в hover,focus */
  --modal-hover-color: rgba(33, 150, 243, 1);
}

/* BODY */

body {
  font-family: var(--main-font);
  color: var(--white-title-color);
  background-color: var(--background-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* SECTION */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* CONTAINER */

.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;

  /* outline: 1px solid red; */
}

/* SOCIALS */

.socials-list {
  display: flex;
}
.socials-item:not(:last-child) {
  margin-right: 10px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  border-radius: 50%;
  transition: background-color var(--cubic);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
}
.socials-icon {
  fill: var(--icon-color);
  transition: fill var(--cubic);
}
.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: var(--card-background-color);
}

/* HEADER */

.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  /* padding-top: 24px; */
  /* padding-bottom: 24px; */

  display: flex;
  align-items: center;
}

/* INDEX HTML */

/* logo */

.nav-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}
.nav-studio {
  margin-right: 93px;
  color: var(--secondary-logo-color);
}

/* NAV */

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
}
.nav-item {
  margin-right: 50px;
}
.nav-item:last-child {
  margin: 0;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--white-title-color);
  transition: color var(--cubic);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.current-link {
  position: relative;
  color: var(--accent-color);
}
.current-link::after {
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
/* AUTH-NAV */

.auth-nav-list {
  margin-left: auto;
  align-items: center;
  display: flex;

  list-style: none;
  color: var(--secondary-font-color);
}
.auth-nav-link {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: currentColor;
  text-decoration: none;
  transition: color var(--cubic);
}
.auth-nav-list .auth-nav-link:hover,
.auth-nav-list .auth-nav-link:focus {
  color: var(--accent-color);
}
.mail {
  margin-right: 50px;
}
.auth-nav-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* HERO */

.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;

  text-align: center;

  background-color: var(--dark-background-color);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Slider.jpeg);
  background-repeat: no-repeat;
}
.hero-title {
  margin: 0 auto 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;

  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--black-title-font-color);
}
.hero-button {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;

  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;

  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  color: var(--black-title-font-color);
  background-color: var(--accent-color);
  transition: background-color var(--cubic);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--secondary-accent-color);
}

/* FEATURES */

.features {
  padding-bottom: 0;
}
.features-list {
  display: flex;
  list-style: none;
}
.features-item {
  flex-basis: 270px;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.features-icon-wrapper {
  /* Или padding: 25px 100px; вместо Display-flex */

  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 270px;
  height: 120px;
  margin-bottom: 30px;

  border-radius: 4px;
  background-color: var(--dark-secondary-background-color);
}
.features-title {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-title-color);
}
.features-text {
  line-height: 1.71;
  color: var(--secondary-font-color);
}

/* EXAMPLES */

.examples-list {
  display: flex;
}
.examples-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--white-title-color);
}

.examples-item:not(:last-child) {
  margin-right: 30px;
}
.examples-item {
  position: relative;
}
.examples-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 370px;
  height: 70px;

  position: absolute;
  bottom: 0px;
  left: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-title-font-color);
  background-color: rgba(47, 48, 58, 0.8);
}
/* TEAM */

.team {
  background-color: var(--dark-secondary-background-color);
}
.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--white-title-color);
}
.team-list {
  display: flex;
}
.team-link {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-color);
}
.team-link:not(:last-child) {
  margin-right: 30px;
}
.team-text-container {
  padding: 30px 32px;
}
.team-subtitle {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--white-title-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
  text-align: center;
  color: var(--secondary-font-color);
}

/* CLIENTS */

.clients-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--white-title-color);
}
.clients-list {
  display: flex;
}
.clients-item {
  width: 170px;
  height: 92px;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  display: flex;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border var(--cubic), color var(--cubic);
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}
.clients-icon {
  fill: var(--icon-color);
  transition: fill var(--cubic);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

/* FOOTER */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--dark-background-color);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo-wrapper {
  margin-right: 70px;
}
.footer-logo {
  margin-bottom: 20px;
  display: block;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-color);
  text-decoration: none;
}
.footer-studio {
  color: var(--black-title-font-color);
  text-decoration: none;
}

/* ADDRESS */

.footer-list {
  list-style: none;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-link {
  font-weight: 400;
  line-height: 1.71;

  color: var(--black-secondary-font-color);
  text-decoration: none;

  transition: color var(--cubic);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--black-title-font-color);
}
.address {
  font-style: normal;
}

/* FOOTER-SOCIALS */
.footer-socials-wrapper {
  margin-right: 93px;
}
.footer-socials-title {
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--black-title-font-color);
  letter-spacing: 0.03em;
}
.footer-socials-link {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-socials-icon {
  fill: var(--secondary-icon-color);
}

/* FORM  */

.subscribe-title {
  display: block;
  margin-bottom: 20px;
}
.subscribe-form {
  display: flex;
}
.subscribe-input {
  width: 358px;
  padding: 15px 16px;
  margin-right: 12px;

  color: var(--black-secondary-font-color);
  background-color: var(--dark-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.subscribe-btn {
  display: flex;
  padding: 10px 28px 10px 29px;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  background-color: var(--accent-color);
}
.subscribe-btn-text {
  margin-right: 10px;
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;

  color: var(--black-title-font-color);
}
/* PORTFOLIO HTML */

/* СЕКЦИЯ ПОРТФОЛИО */

/* Portfolio NAV */

.portfolio-nav {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.portfolio-nav-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-nav-button {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  cursor: pointer;

  border-radius: 4px;
  border: transparent;
  color: var(--white-title-color);
  background-color: var(--dark-secondary-background-color);
  transition: color var(--cubic), background-color var(--cubic), box-shadow var(--cubic);
}
.current-button {
  color: var(--black-title-font-color);
  background-color: var(--accent-color);
}
.portfolio-nav-button:hover,
.portfolio-nav-button:focus {
  color: var(--black-title-font-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Portfolio CARD-SET */

.portfolio-list {
  margin-right: calc(-1 * var(--portfolio-item-gap));
  margin-bottom: calc(-1 * var(--portfolio-item-gap));
  display: flex;
  flex-wrap: wrap;
}
.portfolio-item {
  margin-right: var(--portfolio-item-gap);
  margin-bottom: var(--portfolio-item-gap);
  flex-basis: calc(100% / 3 - var(--portfolio-item-gap));

  background: var(--card-background-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.portfolio-link {
  display: block;
  transition: box-shadow var(--cubic);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--black-title-font-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform var(--cubic);
}
.portfolio-link:hover .portfolio-overlay-text,
.portfolio-link:focus .portfolio-overlay-text {
  transform: translateY(0);
}
.portfolio-text-conteiner {
  padding: 20px 24px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--white-title-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;

  color: var(--secondary-font-color);
}

/* МОДАЛЬНОЕ ОКНО */

.backdrop {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition: opacity var(--cubic), visibility var(--cubic);

  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-wrapper {
  position: absolute;

  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;

  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  background: var(--background-color);

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  outline: transparent;
  cursor: pointer;
}
.modal-close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  fill: var(--secondary-logo-color);
  transition: fill var(--cubic);
}
.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--accent-color);
}
.modal-title {
  display: block;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;

  color: var(--white-title-color);
}
.modal-form-field {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-bottom: 28px;
}
.modal-input {
  margin-top: 4px;
  width: 100%;
  padding: 11px 12px 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  resize: none;

  transition: border-color var(--cubic);
}
.modal-input:hover,
.modal-input:focus {
  border-color: var(--modal-hover-color);

  cursor: pointer;
}

.modal-label {
  position: absolute;

  top: -18px;
  left: 0;
}
.modal-label-wrapper {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--secondary-font-color);
}
.modal-icon {
  position: absolute;
  top: 15px;
  left: 12px;

  transition: fill var(--cubic);
}
.modal-input:hover ~ .modal-icon,
.modal-input:focus ~ .modal-icon {
  fill: var(--modal-hover-color);
}
.textarea {
  min-height: 120px;
  padding: 12px 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.modal-subscribe-btn {
  display: block;
  margin: auto;
  padding: 10px 55px 10px 56px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;

  color: var(--black-title-font-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  background-color: var(--accent-color);
}
.modal-subscribe-btn:hover,
.modal-subscribe-btn:focus {
  background-color: var(--secondary-accent-color);
}
.checkbox-label {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox-input {
  margin-right: 7px;
  appearance: none;
}
.checkbox-close-icon {
  margin-right: 8px;
  display: inline-block;
  width: 15px;
  height: 16px;
  border: 2px solid var(--white-title-color);
  border-radius: 2px;
}
.checkbox-input:checked + .checkbox-close-icon {
  border: transparent;
  background-image: url(../images/icons/modal-check.svg);
  background-position: center;
}

.checkbox-link {
  color: var(--accent-color);
  text-decoration: underline;
}
