.product {

&__text-conteiner {
    padding: 20px 24px;
}

&__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: $white-title-color;
}

&__subtitle {
    font-size: 16px;
    line-height: 1.87;

    color: $secondary-font-color;
}
}